*{
    box-sizing: border-box;
}

body{
    background-color: #E0DAD7;
}

.banner-container{
    display: flex;
    justify-content: center;
}


.banner-container img{
    width: 392px;
    padding-bottom: 5px;
    
}


.bio-descriptions{
    display: flex;
    padding-top: 0px;
    margin: 0px;
    justify-content: center;
}

.bio-description-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bio-description-container ul{
    display: flex;
    list-style: none;
    padding-top: 20px; 
    margin: 0;
    justify-content: center;
}

.bio-description-container ul li{
    position: relative;
    padding: 5px ; 
    border-top: 3px solid #242321;
    border-width: 2px;
    border-color: #242321;
    font-size: 20px;
    left: -20px;
    font-family: 'Krub', sans-serif;
}

.bio-description-container #fd{
    border-right: 1px solid #242321;
}

.links-container{
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.links-container ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0px;
    justify-content: center;
}

.links-container ul li{
    display: flex;
    border: 1px solid #242321;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Krub', sans-serif;
    border-color: #242321;
    text-decoration: none;
    color: #242321;
    background-color: #B2AB9D ;
    justify-content: center;
}

.links-container ul li:hover{
    background-color: #796D63;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #242321;
    }

a:visited{
    text-decoration: none;
    color: #242321;   
}

.footer{
    display: flex;
}

.footer p{
    display:none;
    font-family: 'Krub', sans-serif;
    font-size: 10px;
    padding-left: 25px;
    padding-right: 10px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.whole-body{
    border: 1px solid black;
    display:flex;
    flex-direction: column;
   
    margin-left: 450px;
    margin-right: 450px;
}

@media screen and (min-width: 380px) {
    .whole-body{
        margin:0;
        border: none;
    }
}